.modal__play{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    --transition: transform .4s;
}

.modal__play--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s .4s;
    --transition: transform .3s .4s;
}   

.modal__play__container{
    margin: auto;
    width: 90%;
    max-width: 70rem;
    max-height: 90%;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3rem;
    display: grid;
    gap: 2rem;
    place-items: center;
    grid-auto-columns: 100%;
    transition: var(--transition);
}

.modal__play__img{
    border: 1px solid #ccc;
    border-radius: 10rem;
    background-color: #fff;
    padding: 1rem 0.5rem 1rem 1rem;
    width: 100%;
    max-width: 10rem;
    cursor: pointer;
}